body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum","Arial",sans-serif;
  min-width: 940px;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: black;
  
}
a {
  text-decoration: none;
}
/* Начало header */
header { 
  display: flex;
  flex-direction: column;
  background: #f3f7f8;
}
.header-top { 
  background: #293449;
}
.container {
  width: 940px;
  margin: auto;
  padding: 0 10px;
}
.header-top-wrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
}
/* Логотип */
.logo {
  min-width:165px;
  height: 24px;
  margin: 0;
  padding: 11px 0 7px 55px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  box-shadow: 0 5px 0 0 #b52933;
  text-transform: uppercase;
  background: #ee3643;
}
h1 {
  margin: 0;
}
.search  {
  min-width: 260px;
 background: #293449;
 padding: 12px 45px;
 color: #fff;
 cursor: pointer;
  border: none;
}
.search:hover {
  background: rgba(0,0,0,.2);
  border: none;
}
.bookmarks {
  min-width: 105px;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0 12px 45px;
}
.basket {
 min-width: 126px;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0;
  padding-left: 20px;
}
.checkout {
 min-width: 126px;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0;
  padding-left: 20px;
  background: #63a63e;
}

.header-bottom {  

}
.header-bottom-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 160px;
}
.tittle {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}
.tittle p  {
  padding: 0;
  margin-left: 53px;
}


.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts a {
  color: #ee3643;
  font-size: 21px;
  line-height: 18px;
  border: 3px solid #ffffff;
} 
.contacts p {
  color:#32425c;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.user-block {
    display: flex;
    flex-direction: row;
}
.user-block a {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 21px;
    line-height: 18px;
    color: black;
    background: white;
}
.regisration a {
    text-decoration: underline;
    color: #32425c;
    background: none;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    font-family: "Cuprum","Arial",sans-serif;
    background: #f2f6f8;
    color: #32425c;
}
/* Конец header*/
.header-nav ul {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: stretch;
  margin: auto;
  list-style: none;
  padding: 0 5px;
}
.header-nav li {
  display: flex;
  height: auto;
  font-size: 17px;
}
.header-nav a {
  padding: 20px 30px;
  font-size: 17px;
  line-height: 17px;
}
.header-nav {
  width: -webkit-fill-available;
  margin-bottom: 60px;
  line-height: 17px;
  background: #32425c;
  border-bottom: 5px solid #293449;
}
.header-top a,
.header-nav a {
  color: #ffffff;
}
.header-top a:hover,
.header-top a:focus, 
.header-nav a:hover,
.header-nav a:focus {
  background: rgba(0,0,0,.2);
}
/* Начало main */
main {
  display: flex;
  flex-direction: column;
}
/*      Слайды    =/ */
.offers {
  display: flex;
  flex-direction: row;
}
.sliders {
 order: 1;
}
.sliders h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
.sliders p {
  font-family: 'PT Sans';
  font-size: 18px;
  font-weight: 400px;
  line-height: 24px;
  color: #ffffff;
}
.popular-button {
    width: 250px;
    font-size: 14px; */
    line-height: 18px;
    color: #ffffff; 
    background: #ee3643;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 14px 0;
    text-align: center;
}
.slide1 {
  background-image: url(/img/slider_1.jpg );
  width: 620px;
  height: 266px;
}
/*      Воторй слайд    =/*/
.slide2 {
  background-image: url(/img/slider_2.jpg);
  width: 620px;
  height: 266px;
}

/*   желтый прямоуголтники которые я не понимаю  */
.categories ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  flex-wrap: ;
}
.category {
  list-style: none;
}
.category {
  width: 300px;
  height: 123px;
  font-size: 24px;
  margin-right: 20px;
  color:#ffffff;
  background-color: #f6b22d;
}
/*  Не получается с желты ми блоками попробую  сделать карточку с дрелью */
ul {
  padding: 0;
   text-decoration: none;
   list-style-type: none;
}
.popular-product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.popular-product-item:hover {
  box-shadow: 0 0 10px #aeb2ba;
}
.actions {
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    font-size: 14px;
    line-height: 18px;
    text-decoration:none;
    text-transform:uppercase;  
    color: white;
}
.actions .in-bookmarks{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.actions {
    display:none;
}
.in-basket,
.in-bookmarks{
    font-size: 14px;
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    color: white;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
}
.popular-product-item:hover .actions {
  display:block;
}
.button-category {
  font-size: 14px;
  width: 138px;
  color: #ffffff;
  padding: 10px 0px;
  background: rgba(0,0,0,.1);
}
.popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #f9f5f0;
  height: 89px;
}
.popular h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  vertical-align: middle;
  text-transform: uppercase;
}
.popular a {
  background: #ee3643;
  color:#ffffff;
  font-size: 14px;
  line-height: 18px;
}
.popular-product-item {
    position:relative;
    display:inline-block;
    width:218px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}
.flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
    z-index:20;
}
 .flag-new {
    background:url("img/new-flag.png") no-repeat 0 0;
}
.popular-product-item .popular-image{
    width:218px;
    height:168px;
}
.popular-product-item .popular-image img {
  max-width:100%;
}
.popular-product-item h3 {
  font-family: "PT sans";
  font-size: 18px;
  line-height: 20px;
  min-height:40px;
  padding:0 25px;
  margin-top:10px;
  margin-bottom:15px; 
}
.oldprice {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #a9a9a9;
  min-height:20px;
  margin-top:15px;
  margin-bottom:10px;
  text-decoration-line: line-through;
}
.newprice {
  font-size: 17px;
  font-weight: 700;
  background: #ee3643;
  color: #ffffff;
  position:relative;
  width:80px;
  margin:10px auto;
  margin-bottom:20px;
  padding:10px 30px;
  border-radius:3px;
}
.newprice:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}
.popular-manufacturer {
   
}
.popular-manufacturer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content:  space-around;
  padding: 0;
}
.popular-manufacturer-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  margin-top: 20px;
}
/* Не щабудь переделать чтоб красиво было а ене это безобразие */
.popular-manufacturer-item a {
  padding: 50px;
}
.popular-manufacturer-item:hover {
  box-shadow: 0 10px 25px rgba(41,52,73,.5);
}
/* Наконец-то я добрался до сервисов  */
.service-background {
  background: #f3f7f8;
}
.service h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color:#000000;
  text-transform:uppercase;
}
.service p {
  font-size:14px;
  
}
/* Слайдер сервисов */
.service-controls {
 
}
.service-pop {
  position: relative;
}
#delivery:checked~.service-controls label[for=delivery] {
    color: #32425c;
    background: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    outline: none;
}
#delivery:checked~ .service-help-right .service-delivery {
  display: block;
}
.service-controls label {
  font-size: 21px;
  line-height: 30px;
  max-width: 220px;
  background: #32425c;
  color:#ffffff;
  padding: 15px 10px;
  text-align: left;
  vertical-align: middle;
}
.service-controls label:hover {
  background: #293449;
}
.service-help-right span {
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 36px;
  line-height: 24px;
  color:#32425c;
  text-transform: uppercase;
}
.service-help-right p {
  font-size:  14px;
}
.service-help {
  position: absolute;
  opacity: 0;
}
.service-help-right {
 
}
/* Не понял как делать сервисы=( начну Футер=)  */
footer {
  background: #32425c;
}
.top-footer a, .footer-center a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.top-footer p, .footer-center p  {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.top-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.top-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  width: 547px;
  padding: 0;
}
.top-footer-navigation li  {
  padding: 0 0px;
  
}
footer a:hover {
  text-decoration: underline;
}
.footer-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-center-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 525px;
}
.footer-center-nav a {
  color: #ffda96;
}
.bottom-footer {
  background:#293449; 
}
.content-bottom-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-social {
}
.footer-social ul {
  display: flex;
  flex-direction: row;
}
.bottom-footer-contacts {
  display: flex;
  flex-direction: row;
}
.bottom-footer  {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.bottom-footer a {
  font-size: 16px;
  line-height: 24px;
  color: #ffda96;
}
.footer-mail {
  display: flex;
  flex-direction: column;
}
.okno {
  width: 620px;
  height: 430px;
}
.okno:target {
  display: block;
}
.letter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.letter label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal
  
}
/*Это будет ко второй */
.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.breadcrumbs a {
  line-height: 18px;
  padding: 10px;
  font-size: 13px;
  font-family: 'PT Sans';
  color: black;
  text-transform: uppercase;
}
h1 {
  margin: 0;
    font-size: 30px;
    line-height: 30px;
    padding: 30px 30px;
    text-transform: uppercase;
}
.caption {
    background: bisque;
    color: #32425c;
}

.main-center {
  display: flex;
  flex-direction: row;
}
.catalog {
  display: flex;
  flex-direction: column;
}
.catolog-prefarators ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0;
}  
/* ТУТ ФОРМА */
.filters {
  margin-right: 20px;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.filter {
  display: flex;
  flex-direction: column;
  width: 220px;
}
.range-filter {
  width: 220px;
  margin-top: 20px;
}
.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-style: bold;
  font-family: 'PT Sans';
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}
.range-control {
  position: relative;
  height: 40px;
  background: #f7f3ec;
  margin-bottom: 15px;
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
}
.range-control .scale {
  height: 2px;
  background: #d7dcde;
}
.range-control .bar {
  width: 85%;
  height: 2px;
  background: #00ca74;
  
}
.range-control .toggle {
  position: absolute;
  top: 31px;
  width: 4px;
  height: 4px;
  padding: 0;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}
.range-control .toggle-min {
  left: 20px;
}
.range-control .toggle-max {
  left: 150px;
}
.price-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price-control input {
  text-align: center;
  font-size: 17px;
  width: 93px;
  height: 32px;
  background: #f7f3ec;
  border: none;
}
.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sorting {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
/* Вотой раздел формы */
.filter-producer,
.filter-option{
  padding: 0;
}
.filter-option input[type=checkbox]+label {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-left: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-family: "PT sans";
    color: #000;
    cursor: pointer;
}
.filter-option input[type=checkbox]:checked+label:after{
  content: "";
  position: absolute;
  background: url(/img/checkbox-on.svg) no-repeat;
  left: 0px;
  top: -4px;
  width: 26px;
  height: 26px;
  
}
.filter-option input[type=checkbox]+label:before {
  content: "";
  position: absolute;
  background: url(/img/checkbox-off.svg) no-repeat;
  left: 0px;
  top:-4px;
  width: 26px;
  height: 26px;
}
.filter-producer input ,
.filter-option input {
  display: none;
}/* Третий раздел формы */
.filter-option input[type=radio]+label {
  position: relative;
  display: block;
  font-size: 14px; 
  padding-left:35px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  cursor:pointer;
}
.filter-option input[type=radio]:checked+label:after {
  content: "";
  position: absolute;
  background: url("/img/radio-on.svg");
  left: 0px;
  top:-4px;
  width: 26px;
  height: 26px;
}
.filter-option input[type=radio]+label:before {
  content: "";
  position: absolute;
  background: url("/img/radio-off.svg");
  left:0;
  top: -4px;
  width: 26px;
  height: 26px;
}
.filter-button {
  width: 140px;
  background: #ffffff;
  height: 38px;
  border: 1px solid #e5e5e5;
}