/* Шрифты?
@font-face {
  font-family: 'cuprum';
  src:url('../fonts/web/cuprum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/
body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "regular", sans-serif;
  min-width: 940px;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

a {
  text-decoration: none;
}

/* Начало header */

header {
  background: #f3f7f8;
  height: 320px;
}

.header-top {
  background: #293449;
}

.container {
  width: 940px;
  margin: auto;
}

.header-top-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/* Логотип */

.header-top-wrapper a {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 150px;
}

.logo {
  min-width: 220px;
  height: 24px;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  box-shadow: 0 5px 0 0 #b52933;
  text-transform: uppercase;
  background: #ee3643;
}

.logo:hover,
.button-slider:hover,
.popular-button:hover,
.button-about-company:hover,
.btn:hover,
.modal-buy-button:hover {
  background: #ca2c37;
}

.logo:active,
.button-slider:active,
.popular-button:active,
.button-about-company:active,
.btn:active,
.modal-buy-button:active,
.header-top-wrapper .full-basket:active {
  background: #ba2732;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  outline: none;
}

.input-search {
  display: flex;
}

input[type="search"]::-webkit-input-placeholder {
  font-family: "CuprumRegular", "Arial", sans-serif;
  font-size: 17px;
  color: #ffffff;
}

.search {
  min-width: 270px;
  background: #293449;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #fff;
  height: 42px;
  cursor: pointer;
  border: none;
  padding-left: 50px;
}

.icon-search {
  fill: white;
  padding: 12px 16px;
  opacity: 0.3;
}

input[type=search]:focus {
  background: #fff;
  border: none;
}

.search:hover {
  background: #212a3a;
  border: none;
}

.bookmarks {
  position: relative;
  min-width: 135px;
  font-size: 17px;
  line-height: 18px;
  padding-left: 15px;
}

.bookmarks:hover,
.basket:hover {
  background: #212a3a;
}

.bookmarks:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 20px;
  height: 20px;
  background: url(../img/icon-bookmark.svg) no-repeat;
  opacity: 0.5;
}

.bookmarks:hover:before,
.in-basket:hover:before {
  opacity: 1;
}

.bookmarks:active,
.basket:active {
  background: #161d29;
}

.basket {
  position: relative;
  min-width: 134px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  padding-left: 16px;
}

.header-top-wrapper .full-basket {
  background: #ee3643;
  padding-left: 20px;
}

.header-top-wrapper .full-basket:hover {
  opacity: 1;
  background: #ca2c37;
}

.basket:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 20px;
  height: 20px;
  background: url(../img/icon-cart.svg) no-repeat;
  opacity: 0.5;
}

.basket:hover:before {
  opacity: 1;
}

.checkout {
  min-width: 150px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background: #63a63e;

}

.checkout:hover {
  background: #5fbb2d;
}

.checkout:active {
  background: #518534;
}

.header-bottom {
  background: #f3f7f8
}

.header-bot-margin {
  margin-bottom: 60px;
}

.header-bottom-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 110px;
  margin-top: 46px;
  margin-bottom: 1px;
}

.tittle {
  flex-basis: 33.3333%;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.tittle p {
  margin-top: 3px;
  margin-left: 53px;
}

.contacts {
  flex-basis: 33.3333%;
  display: flex;
  flex-direction: column;
}

.contacts a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 242px;
  height: 39px;
  color: #ee3643;
  font-size: 21px;
  line-height: 18px;
  border: 3px solid #ffffff;
  margin-left: 6px;
  padding-left: 22px;
}

.contacts a:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 13px;
  background: url(../img/icon-phone.svg) no-repeat;
}

.contacts p {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 5px;
  margin-left: 16px;
}

.user-block {
  flex-basis: 33.3333%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
}

.user-block a {
  display: flex;
  align-items: center;
  font-size: 21px;
  line-height: 18px;
  color: black;
  background: white;

}

.user-block a:hover {
  color: #ee3643;

}

.login {
  position: relative;
  width: 120px;
}

.regisration-user {
  width: 150px;
  margin-left: 10px;
  justify-content: center;
  height: 45px;
}

.login:hover:before {
  color: #32425c;
}

.logoff {
  position: relative;
  justify-content: flex-start;
  width: 258px;
  height: 45px
}

.profile-logout .icon-logout {
  padding: 10px;

}

.icon-login,
.icon-logout,
.icon-user {
  fill: #c5c5c5;
  transition: fill 0.3s ease;
  padding: 13px;
}

.login:hover .icon-login,
.profile-logout:hover .icon-logout,
.logoff:hover .icon-user {
  fill: #2f435b;
}

.regisration {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  margin-right: 73px;
}

.regisration a {
  text-decoration: underline;
  color: #32425c;
  background: none;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  background: #f2f6f8;
  color: #32425c;
}

.my-orders {
  margin-right: 30px;
  position: relative;
}

.my-orders:before {
  content: "";
  position: absolute;
  right: -17px;
  width: 4px;
  height: 4px;
  background: #32425c;
  border-radius: 50px;
}

/* Конец header*/

.header-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  list-style: none;
  padding: 0 5px;
}

.header-nav li {
  display: flex;
  height: auto;
  font-size: 17px;
}

.header-nav a {
  padding: 22px 30px;
  font-size: 17px;
  line-height: 17px;
}

.header-nav {
  margin-bottom: 66px;
  line-height: 17px;
  background: #32425c;
  border-bottom: 5px solid #293449;
  height: 55px;
  letter-spacing: 0.1px;
}

.header-top a,
.header-nav a {
  color: #ffffff;
}

.header-nav a:hover,
.header-nav a:focus {
  background: rgba(0, 0, 0, .2);
}

.header-nav a:active {
  background: #1d2739;
}

/* Начало main */

main {
  display: flex;
  flex-direction: column;
}

/*      Слайды    =/ */

.sliders {
  position: relative;
}

.sliders h2 {
  padding-top: 25px;
  padding-left: 23px;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.sliders p {
  margin-top: 5px;
  padding-left: 24px;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.popular-button {
  width: 253px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider-list {
  margin: 0;
}

.slide1 {
  display: none;
  background-image: url(../img/slider_1.jpg );
  width: 620px;
  height: 266px;
}

/*      Воторй слайд    =/*/

.slide2 {
  display: none;
  background-image: url(../img/slider_2.jpg);
  width: 620px;
  height: 266px;
}

.button-slider {
    display: block;
    margin-left: 25px;
    margin-top: 122px;
    font-size: 14px;
    padding: 10px 45px 10px 49px;
    line-height: 18px;
    color: white;
    margin-right: 400px;
    box-sizing: border-box;
    text-transform: uppercase;
    background: #ee3643;
    text-align: center;
    border-radius: 3px;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 1px;
}

.slider-controls label::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 5px;
  z-index: 1;
  border-radius: 50%;
  background: #ffffff;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 55px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

#product-1:checked ~ .slider-list .slide1 {
  display: block;
}

#product-2:checked ~ .slider-list .slide2 {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before {
  content: "";
  position: absolute;
  left: 67%;
  top: 37%;
  z-index: 2;
  width: 6px;
  height: 6px;
  background: #ee3643;
  margin: 1px -6px;
  border-radius: 50%;
}

.arrow-left:after {
  position: absolute;
  content: "";
  width: 22px;
  height: 40px;
  cursor: pointer;
  top: 115px;
  left: 25px;
  background: url("../img/icon-left.svg") no-repeat;
}

.arrow-right:before {
  position: absolute;
  content: "";
  width: 22px;
  height: 40px;
  cursor: pointer;
  top: 113px ;
  right: 18px;
  background: url("../img/icon-right.svg") no-repeat;
}

/*   желтый прямоуголтники которые я не понимаю  */

.offers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.category {
  width: 300px;
  height: 123px;
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #f6b22d;
  list-style: none;
}

.category h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 20px;
  padding-left: 23px;
}

.button-category {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  margin-top: 12px;
  text-align: center;
  width: 135px;
  color: #ffffff;
      margin-left: 23px;
  background: rgba(0, 0, 0, .1);
  text-transform: uppercase;
}

.button-category:hover {
  background: rgba(0, 0, 0, .2);
}

.button-category:active {
  background: rgba(0, 0, 0, .3);
}

.category-materials {
  position: relative;
  background: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 210px 50%;
}

.category-instrument {
  background: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 195px 50%;
}

.category-technics {
  background: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 195px 50%;

}

.category-discounts {
  background: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 195px 50%;
}

.category-delivery {
  background: #ffbf47;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 195px 50%;
}

/*  Не получается с желты ми блоками попробую  сделать карточку с дрелью */

ul {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.popular-product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
}

.popular-product-item:hover {
  box-shadow: 0 0 10px #aeb2ba;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.actions {
  display: none;
}

.in-basket {
  font-size: 14px;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  color: white;
  padding: 7px 3px;
  padding-top: 10px;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-radius: 5px;
}

.in-bookmarks {
  position: relative;
  font-size: 14px;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  color: #32425c;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-radius: 5px;
}

.in-bookmarks:hover {
  border-color: #32425c;
}

.in-bookmarks:active {
  opacity: 0.3;
}

.in-basket:hover {
  background: #5fbb2d;
  box-shadow: 0 3px 15px rgba(0, 1, 1, .25);
}

.in-basket:before {
  content: "";
  position: absolute;
  left: 55px;
  width: 15px;
  height: 15px;
  background: url(../img/icon-cart.svg) no-repeat;
  opacity: 0.3;
}

.in-basket:active {
  background: #518534;
  border-bottom-color: #518534;
}

.popular-product-item:hover .actions {
  display: block;
}

.popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background-color: #f9f5f0;
  height: 89px;
  margin-bottom: 20px;
}

.popular h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 400;
}

.popular-product-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  height: 316px;
}

.flag {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.popular-product-item .popular-image {
  width: 205px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    height: 170px
}

.popular-product-item .popular-image img {
  max-width: 100%;
}

.popular-product-item h3 {
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
      padding: 0 20px;

}

.oldprice {
  font-size: 17px;
   line-height: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #a9a9a9;
  min-height: 20px;
  margin: 9px auto;
  text-decoration-line: line-through;
  font-family: "PT Sans","Arial",sans-serif;
}

.newprice {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  background: #ee3643;
  color: #ffffff;
  position: relative;
  width: 114px;
  margin-bottom: 20px;
  margin-left: 43px;
  margin-right: 36px;
  padding: 10px;
  border-radius: 3px;
  font-family: "PT Sans","Arial",sans-serif;
}

.newprice:after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.popular-manufacturer {
  margin-bottom: 55px;
}

.popular-manufacturer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  padding: 0;
}

.popular-manufacturer-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 145px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.popular-manufacturer-item:active {
  opacity: 0.5;
  box-shadow: 0 4px 10px rgba(41, 52, 73, .5)
}

.popular-manufacturer-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
}

.popular-manufacturer-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
}

/* Наконец-то я добрался до сервисов  */

.service {
  padding-top: 60px;
}

.service-background {
  background: #f3f7f8;
}

.service h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.service p {
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  margin-bottom: 66px;
  line-height: 24px;
}

/* Слайдер сервисов */

.service-controls {
  display: flex;
  flex-direction: column;

}

.service-pop {
  display: flex;
  position: relative;
}

.service-pop:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 270px;
  left: 230px;
  top: -35px;
  background: url("../img/shadow.png") no-repeat;
}

#delivery:checked ~ .service-controls label[for=delivery],
#guaranty:checked ~ .service-controls label[for=guaranty],
#credit:checked ~ .service-controls label[for=credit] {
  color: #32425c;
  background: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
}

#delivery:checked ~ .service-right .service-delivery,
#guaranty:checked ~ .service-right .service-guaranty,
#credit:checked ~ .service-right .service-credit {
  display: block;
}

.service-controls label {
  width: 200px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  background: #32425c;
  color: #ffffff;
  padding: 15px 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.service-controls label:hover {
  background: #293449;
}

.service-right {
  padding: 0 80px;
  margin: 0 auto;
  margin-top: 6px;
}

.service-right li {
  display: none;
  width: 620px;
  height: 300px;
}

.service-right span {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  text-transform: uppercase;
}

.service-right p {
  font-size: 13px;
  margin-top: 25px;
  line-height: 24px;
  margin-bottom: 30px;
}

.service-delivery {
  background: url("../img/delivery.png") no-repeat;
      background-position: 150px 20px;
}

.service-guaranty {
  background: url("../img/guarantee.png") no-repeat;
  background-position: right top;
}

.service-credit {
  background: url("../img/credit.png") no-repeat;
  background-position: right top;
}

.service-credit a {
  width: 107px;
  display: block;
  padding: 10px 44px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #ee3642;
  border-radius: 5px;
  outline: none;
}

.about-company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 86px;
  padding-top: 55px;
}

.about-company-left {
  display: flex;
  flex-direction: column;
}

.about-company-left h2,
.about-company-right h2 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.about-company-left p,
.about-company-right p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
      margin-bottom: 22px;
}

.about-company-left ul {
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
}

.about-company-left li {
  position: relative;
  margin: 0;
  padding: 0 0 20px 36px;
  font-size: 18px;
  line-height: 20px;

}

.about-company-right img {
  margin-top: 10px;
  margin-bottom: 33px;
}

.about-company-left li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  background-color: #fb565a;
}

.button-about-company {
  display: block;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background-color: #ee3643;
  text-transform: uppercase;
}

.button-company-left {
  width: 220px;
}

.about-company-right {
  min-width: 300px;
}

/* Не понял как делать сервисы=( начну Футер=)  */

.footer {
  background: #32425c;
}

.logo-footer {
  display: inline-block;
  padding: 18px 41px 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.logo-footer:hover {
  background: #ca2c37;
  text-decoration: none;
}

.top-footer-navigation a,
.footer-center a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.top-footer-navigation a:active,
.footer-center a:active {
  opacity: 0.5;
  text-decoration: none;
}

.top-footer p,
.footer-center p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 13px 3px;
}

.top-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 14px;

}

.top-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  width: 548px;
  padding: 0;
  margin-bottom: 7px;
  align-items: flex-end;
}

.top-footer-navigation li {
  padding: 0 0px;

}

footer a:hover {
  text-decoration: underline;
}

.footer-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 37px;
}

.footer-center-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 525px;
}

.footer-center-nav a {
  color: #ffda96;
}
.content-bottom-footer {
    display: flex;
    flex-direction: row;
    padding-top: 21px;
    height: 107px;
    box-sizing: border-box;
}

.about-contacts {
  flex-basis: 33.3333%;
  letter-spacing: 0.1px;
}

.footer-social {

    display: flex;
    flex-direction: row;
    flex-basis: 33.3333%;
    /* justify-content: center; */
    margin-top: 14px;
    box-sizing: border-box;
    padding-left: 70px;
}

.social-button {

  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin-left: 5px;
  text-decoration: none;
  background: #212a3a;
  border-radius: 50px;
  font-size: 0;
}

.social-button-vk:before {
  content: "";
  position: absolute;
  background: url("../img/icon-vk.svg") no-repeat;
     top: 12px;
    left: 10px;
  height: 42px;
  width: 42px;
}

.social-button-fb:before {
  content: "";
  position: absolute;
  background: url("../img/icon-fb.svg") no-repeat;
  top: 10px;
  left: 15px;
  height: 42px;
  width: 42px;
}

.social-button-in:before {
  content: "";
  position: absolute;
  background: url("../img/icon-insta.svg") no-repeat;
    top: 9px;
    left: 8px;
  height: 42px;
  width: 42px;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.bottom-footer-contacts {
    display: flex;
    flex-direction: row;
    letter-spacing: -0.3px;
    padding-left: 13px;
}

.bottom-footer {
  font-size: 16px;
  color: #ffffff;
  line-height: 18px;
   background: #293449;
}

.bottom-footer-contacts a {
font-size: 16px;
    line-height: 24px;
    color: #ffda96;
    margin-top: -3px;
    letter-spacing: 0.1px;
}

.bottom-footer-contacts a:active {
  color: #be3544;
  text-decoration: none;
}

.footer-mail {
  display: flex;
  flex-direction: column;
}
.footer-mail-right {
  box-sizing: border-box;
      padding-left: 51px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  display: none;

}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-about-company {
  top: 120px;
  left: 50%;
  margin-left: -300px;
  z-index: 200;
  width: 620px;
  background: #fff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
  border-top: 7px solid #ff5257;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0;
  z-index: 1000;
  cursor: pointer;
  border: 0;
  background: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  right: -1px;
  top: 9px;
  position: absolute;

  width: 25px;
  height: 4px;

  background-color: #ee3844;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-letter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.modal-letter input[type="text"],
.modal-letter input[type="email"] {
  width: 186px;
  padding: 10px 15px;
  border-radius: 3px;
  border: 2px solid #dee3e4;
  font-size: 13px;
  color: #a9a9a9;
}

.modal-letter label {
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin-bottom: 22px;
}

.modal-letter span {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 13px;
}

.modal-letter textarea {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;
  border: 3px solid #d7dcde;
  border-radius: 5px;
  outline: 0;
  padding: 12px 15px;
  margin-bottom: 37px;
}

.modal-button-in {
  width: 100%;
  height: 112px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button {
  background: #ee3643;
  padding: 10px 15px;
  color: #fff;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Cuprum", "Arial", sans-serif;
  margin: 0px 80px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

.modal-letter textarea,
.modal-letter input[type="submit"] {
  flex-basis: 100%;
}

.modal-map {
  top: 5%;
  left: 50%;
  margin-left: -470px;
  width: 940px;
  height: 448px;
  z-index: 200;
  box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}

.modal-buy {
  top: 5%;
  left: 50%;
  z-index: 200;
  margin-left: -300px;
  width: 620px;
  height: 282px;
  background: #fff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
  border-top: 5px solid #ee3643;
}

.modal-buy-down {
  width: 620px;
  height: 122px;
  display: flex;
  align-items: center;
  background: #f1f1f1;
}

.modal-buy span {
  position: relative;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: black;
  display: flex;
  height: 165px;
  align-items: center;
  margin-left: 180px;
}

.modal-buy span:before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  left: -100px;
  background: #63a63e;
  background: url("../img/form-1.svg") no-repeat;
  border-radius: 50px;
}

.modal-buy-button {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 57px;
  background: #ee3643;
  color: #fff;
  text-transform: uppercase;
  margin-left: 80px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buy-button-next {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 57px;
  color: black;
  background: #fff;
  text-transform: uppercase;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
}

/*Это будет ко второй */

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  margin: 10px auto;
}

.breadcrumbs li {
  display: inline-block;
  padding: 9px 9px;
}

.breadcrumbs li:first-child:before {
  content: "";
  position: absolute;
  background: url(../img/icon-home.svg) no-repeat;
  top: 12px;
  left: 6px;
  width: 15px;
  height: 12px;
}

.breadcrumbs a {

  line-height: 18px;
  padding: 10px;
  font-size: 13px;
  font-family: 'PT Sans';
  color: black;
  text-transform: uppercase;
}

.breadcrumbs li:after {
  content: "";
  position: absolute;
  background: url(../img/icon-right-small.svg) no-repeat;
  margin-top: 4px;
  margin-left: 6px;
  width: 22px;
  height: 40px;
}

h1 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  padding: 30px 30px;
  text-transform: uppercase;
}

.caption {
  background: #f2f6f8;
  color: #32425c;
  margin-bottom: 20px;
}

.main-center {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.main-center h2 {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  padding: 10px 18px;
  background: #f7f3ec;
  width: 184px;
}

.header-main {
  display: flex;
  flex-direction: row;
  background: #f7f3ec;
}

.sorting {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 0;
  width: 355px;
  font-family: "PT sans";
  margin-left: 20px;
  margin-right: 40px;
}

.sorting a {
  color: #acaaa5;
  border-bottom: 1px dashed #ee3643;
}

.sorting a:hover {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.sorting .acitve-sorting {
  color: #ee3643;
  border-bottom: none;
}

.sorting-right {
  display: flex;
  margin: 0;
}

.sorting-right li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.icon-up,
.icon-down {
  fill: #c5c5c5;
}

.icon-up:hover,
.icon-down:hover {
  fill: #000;
}

.catalog {
  display: flex;
  flex-direction: column;
}

.catolog-prefarators {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 20px auto;
}

/* ТУТ ФОРМА */

.filters {
  margin-right: 20px;
}

fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  border: none;
  position: relative;
}

.filter-producer:before,
.filter-battery:before {
  position: absolute;
  content: "";
  top: -17px;
  width: 220px;
  height: 1px;
  background: #ccc;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-top: 10px;
}

.range-filter {
  width: 220px;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-family: 'PT Sans';
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.range-control {
    position: relative;
    background: #f7f3ec;
    margin-bottom: 8px;
    padding-top: 38px;
    padding-right: 30px;
    height: 80px;
    box-sizing: border-box;
    padding-left: 30px;

}

.range-control .scale {
  height: 2px;
  background: #d7dcde;
}

.range-control .bar {
  width: 85%;
  height: 2px;
  background: #00ca74;

}

.range-control .toggle {
  position: absolute;
  top: 28px;
  width: 4px;
  height: 4px;
  padding: 0;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.range-control .toggle-min {
  left: 20px;
}

.range-control .toggle-max {
  left: 161px;
}

.price-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price-control input {
  text-align: center;
  font-size: 17px;
  line-height: 18px;
      font-family: "PT Sans","Arial",sans-serif;
  width: 93px;
  height: 34px;
  background: #f7f3ec;
  border: none;
}

/* Вотой раздел формы */

.filter-producer,
.filter-option {
  padding: 0;
  margin: 0;
}

.filter-option input[type=checkbox] + label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT sans";
  color: #000;
  cursor: pointer;
}

.filter-option input[type=checkbox]:checked + label:after {
  content: "";
  position: absolute;
  background: url(../img/checkbox-on.svg) no-repeat;
  left: 0px;
  top: -2px;
  width: 26px;
  height: 26px;

}

.filter-option input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  background: url(../img/checkbox-off.svg) no-repeat;
  left: 0px;
  top: -2px;
  width: 26px;
  height: 26px;
}

.filter-producer input,
.filter-option input {
  display: none;
}

/* Третий раздел формы */

.filter-option input[type=radio] + label {
  position: relative;
  display: block;
  font-size: 14px;
  padding-left: 35px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  cursor: pointer;
}

.filter-option input[type=radio]:checked + label:after {
  content: "";
  position: absolute;
  background: url("../img/radio-on.svg") no-repeat;
  left: 0px;
  top: -4px;
  width: 26px;
  height: 26px;
}

.filter-option input[type=radio] + label:before {
  content: "";
  position: absolute;
  background: url("../img/radio-off.svg") no-repeat;
  left: 0;
  top: -4px;
  width: 26px;
  height: 26px;
}

.filter-button {
  width: 140px;
  background: #ffffff;
  height: 38px;
  border: 1px solid #e5e5e5;
}

.pagination-list {
  display: flex;

}

.pagination-item {
  border: 1px solid #e5e5e5;
  width: 36px;
  height: 36px;
  font-size: 13px;
  margin-right: 10px;
  border-radius: 3px;
}

.pagination-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 100%;
  justify-content: center;
  height: 100%;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT sans";
  font-weight: 400;

}

.pagination-item:hover,
.filter-button:hover {
  border: 1px solid #bdc6ca;
  cursor: pointer;
}

.pagination-item:active,
.filter-button:active,
.filter-button:focus {
  border: 1px solid #ee3643;
  outline-style: none;
}

.pagination-item-current a {
  background: #ee3643;
  color: #ffffff;
  border-radius: 3px;
}

.paginator-btn-next {
  width: 138px;
}

.down-main {
  background: #f2f6f8;
}

.down-main h3 {
  color: black;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 67px;
}

.down-main p {
  font-size 14px;
  line-height: 24px;
  padding-bottom: 73px;
}
